<div class="page-header">
  <h1><%= flag.Name %></h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= projectPath({ project_id: projectID }) %>" class="btn btn-info">Back to Project</a></li>
  <li class="list-inline-item"><a href="<%= editProjectFlagPath({ flag_id: flag.ID,  project_id: projectID  })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= projectFlagPath({ flag_id: flag.ID,  project_id: projectID  })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Enabled</strong>: <%= flag.Enabled %>
</p>
<p>
  <strong>Name</strong>: <%= flag.Name %>
</p>
<p>
  <strong>ProjectID</strong>: <%= flag.ProjectID %>
</p>
