.enabled {
  &--true {
    background: lightgreen;
  }

  &--false {
    background: red;
    color: white;
    a {
      &:visited {
        color: slategrey;
      }

      color: white;
    }
  }
}
